<div id="<%= dom_id entry %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= entry.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= entry.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= entry.category %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= entry.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= entry.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Click:</strong>
    <%= entry.click %>
  </p>

</div>
