<div class="max-w-[50rem] mx-auto text-white text-center bg-indigo-800 p-12">
    <h1 class="text-sm tracking-widest pb-8"><%= @entry.category.upcase %></h1>
    <h1 class="text-5xl font-vesterbro-bold pb-8"><%= @entry.title %></h1>
    <h1 class="text-2xl opacity-75 pb-8"><%= @entry.body %></h1>
    <span class="flex justify-center text-sm tracking-widest gap-8">
        <p><%= fa_icon "user", class: "mr-2" %><%= @entry.name.upcase %></p>
        <p><%= fa_icon "calendar", class: "mr-2" %><%= @entry.date.strftime("%d %b, %Y").upcase %></p>
        <p><%= fa_icon "eye", class: "mr-2" %><%= @entry.click %> VIEW</p>
        <p><%= fa_icon "clock-o", class: "mr-2" %><%= @entry.click %> MINS</p>
    </span>
</div>